@charset "UTF-8";

@import "./third-party/bootstrap4/variables";
@import "./sass/bootstrap-imports";
@import "./third-party/bourbon/bourbon";

// EBM variables
@import "./sass/ebm-variables";

// EBM Functions
@import "./ebm/functions/ebm-functions";

// EBM Helpers
@import "./ebm/helpers/ebm-helpers";

// EBM Fonts setup
@import "./sass/ebm-fonts-setup";

// Boostrap custom overrides
// @import "./sass/ebm-bootstrap-overrides";

// EBM Global Imports
// EBM Control
// @import "./ebm/control/ebm-spacing-control";
// @import "./ebm/control/ebm-spacing-breakpoints-control";
// @import "./ebm/control/ebm-spacing-children-control";
// @import "./ebm/control/ebm-spacing-children-breakpoints-control";
// @import "./ebm/control/ebm-color-text-control";
// @import "./ebm/control/ebm-color-bg-control";
@import "./ebm/control/ebm-container-control";
@import "./ebm/control/ebm-text-control";
// @import "./ebm/control/ebm-min-height-control";
// @import "./ebm/control/ebm-flexbox-control";
// @import "./ebm/control/ebm-text-responsive-control";
// @import "./ebm/control/ebm-display-control";
// @import "./ebm/control/ebm-bg-img-control";
// @import "./ebm/control/ebm-box-shadow-control";
// @import "./ebm/control/ebm-text-shadow-control";
// @import "./ebm/control/ebm-box-model-percentage-control";
// @import "./ebm/control/ebm-box-model-pseudo-control";
// @import "./ebm/control/ebm-border-control";
// @import "./ebm/control/ebm-color-bg-hover-control";
// @import "./ebm/control/ebm-color-bg-rgba-control";
// @import "./ebm/control/ebm-color-grid-control";
// @import "./ebm/control/ebm-color-random-color-control";
// @import "./ebm/control/ebm-color-text-children-control";
// @import "./ebm/control/ebm-color-text-hover-control";
// @import "./ebm/control/ebm-flexbox-breakpoints-control";
// @import "./ebm/control/ebm-hover-text-control";
// @import "./ebm/control/ebm-ie-control";
// @import "./ebm/control/ebm-text-align-control";
// @import "./ebm/control/ebm-text-lead-children-control";
// @import "./ebm/control/ebm-text-responsive-headings-control"; // Deprecated as of Bootstrap 4 update
// @import "./ebm/control/ebm-text-transforms-control";
// @import "./ebm/control/ebm-position-control";

// BOX MODEL BREAKPOINTS CONTROL
// @import "./ebm/control/ebm-box-model-percentage-breakpoints-control";
// @import "./ebm/control/ebm-box-model-pseudo-breakpoints-control";

// EBM Elements
@import "./ebm/elements/ebm-buttons";
// @import "./ebm/elements/ebm-buttons-outline";
// @import "./ebm/elements/ebm-forms";
// @import "./ebm/elements/ebm-icons";
// @import "./ebm/elements/ebm-section";
// @import "./ebm/elements/ebm-grid-lists";
// @import "./ebm/elements/ebm-panels";
// @import "./ebm/elements/ebm-accordion";
// @import "./ebm/elements/ebm-alerts";
// @import "./ebm/elements/ebm-buttons-border-bottom";
// @import "./ebm/elements/ebm-buttons-icons-outline";
// @import "./ebm/elements/ebm-buttons-icons";
// @import "./ebm/elements/ebm-banners";
// @import "./ebm/elements/ebm-grid-masonry";
// @import "./ebm/elements/ebm-horizontal-rules";
// @import "./ebm/elements/ebm-loading";
// @import "./ebm/elements/ebm-overlay";
// @import "./ebm/elements/ebm-separators";
// @import "./ebm/elements/ebm-user-card";
// @import "./ebm/elements/ebm-wp-nav-main";

// EBM Modules
// @import "./ebm/modules/ebm-mobile-menu";
// @import "./ebm/modules/ebm-bg-gallery";
// @import "./ebm/modules/ebm-dashboard-wrapper";
// @import "./ebm/modules/ebm-experimental";
@import "./ebm/modules/ebm-footer";
@import "./ebm/modules/ebm-header";
// @import "./ebm/modules/ebm-header-fixed";
// @import "./ebm/modules/ebm-hero-unit";
// @import "./ebm/modules/ebm-scrollto-auto-anchors";
// @import "./ebm/modules/ebm-section-scroll";
// @import "./ebm/modules/ebm-style-guide";
// @import "./ebm/modules/ebm-videocover";

// EBM Overrides
@import "./sass/ebm-overrides";

// Shared styles for all templates
@import "./sass/ebm-global";

// Third party:
// @import "./ebm/animate/animate-init";

.hero-unit {
  @include flex-column-center;
  min-height: 80vh;
  h1 {
    margin-bottom: px-to-rem(21);
  }
  h2 {
    @include serif-book;
  }
  .hero-nav {
    margin-top: px-to-rem(21);
    a {
      margin-bottom: px-to-rem(21);
      margin-right: px-to-rem(21);
      display: inline-block;
    }
  }
}

.section {
  margin-bottom: px-to-rem(35);
  aside {
    margin-bottom: px-to-rem(35);
  }
  article {
    @include serif-book;
    margin-bottom: px-to-rem(35);
  }
  .article-head {
    margin-bottom: px-to-rem(21);
    h5 {
      @include book;
      &:last-child {
        @include bold;
      }
    }
  }
  .section-title {
    h3 {
      @include book;
      text-transform: uppercase;
    }
    p {
      @include bold;
    }
  }
  .section-content {
    padding-top: px-to-rem(35);
  }
  .skill-item {
    h5 {
      @include bold;
    }
  }
}

@media #{$sm-down} {
  body {
    .hero-unit {
      h1 {
        font-size: $font-size-h2;
      }
      h2 {
        font-size: $font-size-h4;
      }
    }
  }
}
