/*
	EBM:Ref
	Flexbox
*/
// HORIZONTAL DISTRIBUTION SHORTHANDS
@mixin flex-row {
	flex-direction: row;
	display: flex;
}
@mixin flex-row-center {
	justify-content: center;
	@include flex-row;
}
@mixin flex-row-end {
	justify-content: flex-end;
	@include flex-row;
}
@mixin flex-row-space-between {
	justify-content: space-between;
	@include flex-row;
}
@mixin flex-row-space-around {
	justify-content: space-around;
	@include flex-row;
}
// VERTICAL DISTRIBUTION SHORTHANDS
@mixin flex-column {
	flex-direction: column;
	display: flex;
}
@mixin flex-column-center {
	justify-content: center;
	@include flex-column;
}
@mixin flex-column-end {
	justify-content: flex-end;
	@include flex-column;
}
@mixin flex-column-space-between {
	justify-content: space-between;
	@include flex-column;
}
@mixin flex-column-space-around {
	justify-content: space-around;
	@include flex-column;
}

// FLEX Align
@mixin flex-align-center {
	align-items: center;
}
@mixin flex-align-end {
	align-items: flex-end;
}
@mixin flex-align-stretch {
	align-items: stretch;
}
