// Position helpers
@mixin position-fixed-control($z) {
	z-index: $z;
	-webkit-backface-visibility: hidden; 
	-webkit-transform: translateZ(0);
}

@mixin position-fixed-top($z) {
	@include position-fixed-control($z);
	@include position(fixed, 0 0 null 0);
}

@mixin position-fixed-left($z) {
	@include position-fixed-control($z);
	@include position(fixed, 0 null 0 0);
}