$custom-radio-label-color: $brand-info;

@mixin custom-radio-label() {
  border: 2px solid $custom-radio-label-color;
  color: $custom-radio-label-color !important;
  &:before {
    color: $custom-radio-label-color !important;
  }
}

.custom-radio-checkbox {
  input[type="radio"],
  input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
    &:checked + label {
      @include custom-radio-label;
    }
  }
  label {
    @include normalize-text;
    border: 1px solid rgba($custom-radio-label-color, 0.2);
    padding-right: $btn-padding-x-sm;
    border-radius: $border-radius;
    padding: .35rem 0;
    font-size: $font-size-h5;
    background-color: white;
    position: relative;
    text-align: center;
    padding-left: 28px;
    margin-bottom: 0;
    display: block;
    &:hover {
      @include box-shadow-default;
      cursor: pointer;
    }
    &:before {
      @include position(absolute, 0 null 0 0);
      @include flex-column-center;
      color: rgba($custom-radio-label-color, 0.1);
      font-family: 'icomoon';
      text-align: center;
      content: "\e959";
      font-size: 16px;
      min-width: 28px;
      height: 100%;
    }
  }
  &.checked {
    label {
      @include custom-radio-label;
    }
  }
}

@media #{$sm-down} {
  body {
    .custom-radio-checkbox {
      &.grid-list-item {
        padding-top: 0;
      }
    }
  }
}
