// GRID LISTS
$grid-list-item-height: 350px;
.grid-list {
	@include flex-wrap(wrap);
	@include make-row();
	@include flex-row;
	padding: 0;
	.grid-list-item,
	> li {
		padding: $container-fluid;
		position: relative;
		float: left;
	}
	&.grid-list-item-height {
		.grid-list-item,
		> li {
			min-height: $grid-list-item-height;
		}
	}
	@for $i from 1 through $grid-columns {
		&.grid-list-#{$i} {
			.grid-list-item,
			> li {
				$width: percentage(1/$i);
				@include flex-basis($width);
				width: percentage(1/$i);
			}
		}
	}
	@for $i from 1 through $grid-columns {
		@for $k from 1 through length($breakpoints-sufix-list) {
	    @media #{nth($media-only-list, $k)} {
				&.grid-list-#{$i}-#{nth($breakpoints-sufix-list, $k)} {
					.grid-list-item,
					> li {
						$mobile-width: percentage(1/$i);
						@include flex-basis($mobile-width);
						width: $mobile-width;
					}
				}
	    }
	  }
	}
	&.grid-list-centered {
		@include flex-row-space-around;
		// text-align: center;
		.grid-list-item,
		> li {
			display: inline-block;
			// float: none;
		}
	}
	&.grid-list-right {
		.grid-list-item,
		> li {
			float: right;
		}
	}
	&.grid-list-anchors {
		.grid-list-item,
		> li {
			a {
				display: block;
			}
		}
	}
	&.grid-list-full-width {
		.grid-list-item,
		> li {
			width: 100%;
		}
	}
}

ul.grid-list {
	@include list-unstyled;
	&.row {
		margin-left: -($container-fluid) !important;
		margin-right: -($container-fluid) !important;
	}
}