a.btn,
button.btn,
input[type="submit"].btn,
.btn {
	// CUSTOM BUTTONS with border bottom
	@for $i from 1 through length($brand-colors-sufix-list) {
		&.btn-#{nth($brand-colors-sufix-list, $i)}.btn-custom {
			@include background(linear-gradient(#{lighten(nth($brand-colors-list, $i), 7%), nth($brand-colors-list, $i)} top repeat));
			border: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($brand-colors-list, $i), 9%)};
			@include box-shadow(0px 2px 0px 0px #{darken(nth($brand-colors-list, $i), 12%)});
			border-radius: $border-radius-base;
			// color: #{nth($brand-colors-list, $i)};
			&:hover {
				@include background(linear-gradient(#{lighten(nth($brand-colors-list, $i), 7%), nth($brand-colors-list, $i)} bottom repeat)); 
				@include box-shadow(0px 2px 0px 0px #{darken(nth($brand-colors-list, $i), 15%)});
				// border: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($brand-colors-list, $i), $buttons-custom-color-control)};
				// color: #{darken(nth($brand-colors-list, $i), $buttons-custom-color-control)};
			}
		}
	}
	@for $i from 1 through length($social-colors-sufix-list) {
		&.btn-#{nth($social-colors-sufix-list, $i)}.btn-custom {
			@include background(linear-gradient(#{lighten(nth($social-colors-list, $i), 7%), nth($social-colors-list, $i)} top repeat));
			border: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($social-colors-list, $i), 9%)};
			@include box-shadow(0px 2px 0px 0px #{darken(nth($social-colors-list, $i), 12%)});
			border-radius: $border-radius-base;
			// color: #{nth($social-colors-list, $i)};
			&:hover {
				@include background(linear-gradient(#{lighten(nth($social-colors-list, $i), 7%), nth($social-colors-list, $i)} bottom repeat)); 
				@include box-shadow(0px 2px 0px 0px #{darken(nth($social-colors-list, $i), 15%)});
				// border: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($brand-colors-list, $i), $buttons-custom-color-control)};
				// color: #{darken(nth($brand-colors-list, $i), $buttons-custom-color-control)};
			}
		}
	}
	@for $i from 1 through length($grayscale-sufix-list) {
		&.btn-#{nth($grayscale-sufix-list, $i)}.btn-custom {
			@include background(linear-gradient(#{lighten(nth($grayscale-list, $i), 7%), nth($grayscale-list, $i)} top repeat));
			border: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($grayscale-list, $i), 9%)};
			@include box-shadow(0px 2px 0px 0px #{darken(nth($grayscale-list, $i), 12%)});
			border-radius: $border-radius-base;
			// color: #{nth($grayscale-list, $i)};
			&:hover {
				@include background(linear-gradient(#{lighten(nth($grayscale-list, $i), 7%), nth($grayscale-list, $i)} bottom repeat)); 
				@include box-shadow(0px 2px 0px 0px #{darken(nth($grayscale-list, $i), 15%)});
				// border: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($grayscale-list, $i), $buttons-custom-color-control)};
				// color: #{darken(nth($grayscale-list, $i), $buttons-custom-color-control)};
			}
		}
	}
	@for $i from 1 through length($bluescale-sufix-list) {
		&.btn-#{nth($bluescale-sufix-list, $i)}.btn-custom {
			@include background(linear-gradient(#{lighten(nth($bluescale-list, $i), 7%), nth($bluescale-list, $i)} top repeat));
			border: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($bluescale-list, $i), 9%)};
			@include box-shadow(0px 2px 0px 0px #{darken(nth($bluescale-list, $i), 12%)});
			border-radius: $border-radius-base;
			// color: #{nth($bluescale-list, $i)};
			&:hover {
				@include background(linear-gradient(#{lighten(nth($bluescale-list, $i), 7%), nth($bluescale-list, $i)} bottom repeat)); 
				@include box-shadow(0px 2px 0px 0px #{darken(nth($bluescale-list, $i), 15%)});
				// border: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($bluescale-list, $i), $buttons-custom-color-control)};
				// color: #{darken(nth($bluescale-list, $i), $buttons-custom-color-control)};
			}
		}
	}
}