a.btn,
button.btn,
input[type="submit"].btn,
.btn {
	// OUTLINE BUTTONS
	@for $i from 1 through length($brand-colors-sufix-list) {
		&.btn-#{nth($brand-colors-sufix-list, $i)}.btn-outline {
			background: none;
			border: $buttons-custom-border-size $buttons-custom-border-style #{nth($brand-colors-list, $i)};
			border-radius: $border-radius;
			color: #{nth($brand-colors-list, $i)};
			&:hover {
				background: none;
				border: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($brand-colors-list, $i), $buttons-custom-color-control)};
				color: #{darken(nth($brand-colors-list, $i), $buttons-custom-color-control)};
			}
		}
	}
	@for $i from 1 through length($grayscale-sufix-list) {
		&.btn-#{nth($grayscale-sufix-list, $i)}.btn-outline {
			background: none;
			border: $buttons-custom-border-size $buttons-custom-border-style #{nth($grayscale-list, $i)};;
			border-radius: $border-radius;
			color: #{nth($grayscale-list, $i)};
			&:hover {
				background: none;
				border: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($grayscale-list, $i), $buttons-custom-color-control)};
				color: #{darken(nth($grayscale-list, $i), $buttons-custom-color-control)};
			}
		}
	}
	@for $i from 1 through length($bluescale-sufix-list) {
		&.btn-#{nth($bluescale-sufix-list, $i)}.btn-outline {
			background: none;
			border: $buttons-custom-border-size $buttons-custom-border-style #{nth($bluescale-list, $i)};;
			border-radius: $border-radius;
			color: #{nth($bluescale-list, $i)};
			&:hover {
				background: none;
				border: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($bluescale-list, $i), $buttons-custom-color-control)};
				color: #{darken(nth($bluescale-list, $i), $buttons-custom-color-control)};
			}
		}
	}
}