a.btn,
button.btn,
input[type="submit"].btn,
.btn {
	@for $i from 1 through length($brand-colors-sufix-list) {
		&.btn-#{nth($brand-colors-sufix-list, $i)}.btn-icon {
			@include background(linear-gradient(#{lighten(nth($brand-colors-list, $i), 7%), nth($brand-colors-list, $i)} top repeat));
			border: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($brand-colors-list, $i), 9%)};
			border-radius: $border-radius-base;
			// color: #{nth($brand-colors-list, $i)};
			padding: 0;
			@include clearfix;
			span,
			i {
				display: inline-block;
				height: $button-icon-height-control;
				@include flex-column-center;
				@include flex-align-center;
			}
			span {
				float: left;
				padding: 0 $padding-base-horizontal;
			}
			i {
				width: $button-icon-height-control;
				float: right;
				border-left: $buttons-custom-border-size $buttons-custom-border-style #{nth($brand-colors-list, $i)};
				@include border-right-radius($border-radius-base);
			}
			&:hover {
				@include background(linear-gradient(#{lighten(nth($brand-colors-list, $i), 7%), nth($brand-colors-list, $i)} bottom repeat)); 
				border: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($brand-colors-list, $i), 14%)};
				// color: #{darken(nth($brand-colors-list, $i), $buttons-custom-color-control)};
				i {
					border-left: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($brand-colors-list, $i), 9%)};
				}
			}
			&.btn-icon-left {
				span {
					float: right;
				}
				i {
					float: left;
					border-left: none;
					border-right: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($brand-colors-list, $i), 9%)};
					@include border-left-radius($border-radius-base);
					@include border-right-radius(0);
				}
				&:hover {
					i {
						border-right: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($brand-colors-list, $i), $buttons-custom-color-control)};
					}
				}
			}
			&.btn-xs {
				span, 
				i {
					height: $button-icon-height-control - $padding-base-horizontal;
				}
				span {
					padding: 0 $padding-xs-horizontal;
				}
				i {
					width: $button-icon-height-control - $padding-base-horizontal;
				}
			}
			&.btn-sm {
				span, 
				i {
					height: $button-icon-height-control - $padding-small-horizontal;
				}
				span {
					padding: 0 $padding-small-horizontal;
				}
				i {
					width: $button-icon-height-control - $padding-small-horizontal;
				}
			}
			&.btn-lg {
				span, 
				i {
					height: $button-icon-height-control + $padding-large-horizontal;
				}
				span {
					padding: 0 $padding-large-horizontal;
				}
				i {
					width: $button-icon-height-control + $padding-large-horizontal;
				}
			}
		}
	}
	@for $i from 1 through length($grayscale-sufix-list) {
		&.btn-#{nth($grayscale-sufix-list, $i)}.btn-icon {
			@include background(linear-gradient(#{lighten(nth($grayscale-list, $i), 7%), nth($grayscale-list, $i)} top repeat));
			border: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($grayscale-list, $i), 9%)};
			border-radius: $border-radius-base;
			// color: #{nth($grayscale-list, $i)};
			padding: 0;
			@include clearfix;
			span,
			i {
				display: inline-block;
				height: $button-icon-height-control;
				@include flex-column-center;
				@include flex-align-center;
			}
			span {
				float: left;
				padding: 0 $padding-base-horizontal;
			}
			i {
				width: $button-icon-height-control;
				float: right;
				border-left: $buttons-custom-border-size $buttons-custom-border-style #{nth($grayscale-list, $i)};
				@include border-right-radius($border-radius-base);
			}
			&:hover {
				@include background(linear-gradient(#{lighten(nth($grayscale-list, $i), 7%), nth($grayscale-list, $i)} bottom repeat)); 
				border: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($grayscale-list, $i), 14%)};
				// color: #{darken(nth($grayscale-list, $i), $buttons-custom-color-control)};
				i {
					border-left: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($grayscale-list, $i), 9%)};
				}
			}
			&.btn-icon-left {
				span {
					float: right;
				}
				i {
					float: left;
					border-left: none;
					border-right: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($grayscale-list, $i), 9%)};
					@include border-left-radius($border-radius-base);
					@include border-right-radius(0);
				}
				&:hover {
					i {
						border-right: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($grayscale-list, $i), $buttons-custom-color-control)};
					}
				}
			}
			&.btn-xs {
				span, 
				i {
					height: $button-icon-height-control - $padding-base-horizontal;
				}
				span {
					padding: 0 $padding-xs-horizontal;
				}
				i {
					width: $button-icon-height-control - $padding-base-horizontal;
				}
			}
			&.btn-sm {
				span, 
				i {
					height: $button-icon-height-control - $padding-small-horizontal;
				}
				span {
					padding: 0 $padding-small-horizontal;
				}
				i {
					width: $button-icon-height-control - $padding-small-horizontal;
				}
			}
			&.btn-lg {
				span, 
				i {
					height: $button-icon-height-control + $padding-large-horizontal;
				}
				span {
					padding: 0 $padding-large-horizontal;
				}
				i {
					width: $button-icon-height-control + $padding-large-horizontal;
				}
			}
		}
	}
	@for $i from 1 through length($bluescale-sufix-list) {
		&.btn-#{nth($bluescale-sufix-list, $i)}.btn-icon {
			@include background(linear-gradient(#{lighten(nth($bluescale-list, $i), 7%), nth($bluescale-list, $i)} top repeat));
			border: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($bluescale-list, $i), 9%)};
			border-radius: $border-radius-base;
			// color: #{nth($bluescale-list, $i)};
			padding: 0;
			@include clearfix;
			span,
			i {
				display: inline-block;
				height: $button-icon-height-control;
				@include flex-column-center;
				@include flex-align-center;
			}
			span {
				float: left;
				padding: 0 $padding-base-horizontal;
			}
			i {
				width: $button-icon-height-control;
				float: right;
				border-left: $buttons-custom-border-size $buttons-custom-border-style #{nth($bluescale-list, $i)};
				@include border-right-radius($border-radius-base);
			}
			&:hover {
				@include background(linear-gradient(#{lighten(nth($bluescale-list, $i), 7%), nth($bluescale-list, $i)} bottom repeat)); 
				border: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($bluescale-list, $i), 14%)};
				// color: #{darken(nth($bluescale-list, $i), $buttons-custom-color-control)};
				i {
					border-left: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($bluescale-list, $i), 9%)};
				}
			}
			&.btn-icon-left {
				span {
					float: right;
				}
				i {
					float: left;
					border-left: none;
					border-right: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($bluescale-list, $i), 9%)};
					@include border-left-radius($border-radius-base);
					@include border-right-radius(0);
				}
				&:hover {
					i {
						border-right: $buttons-custom-border-size $buttons-custom-border-style #{darken(nth($bluescale-list, $i), $buttons-custom-color-control)};
					}
				}
			}
			&.btn-xs {
				span, 
				i {
					height: $button-icon-height-control - $padding-base-horizontal;
				}
				span {
					padding: 0 $padding-xs-horizontal;
				}
				i {
					width: $button-icon-height-control - $padding-base-horizontal;
				}
			}
			&.btn-sm {
				span, 
				i {
					height: $button-icon-height-control - $padding-small-horizontal;
				}
				span {
					padding: 0 $padding-small-horizontal;
				}
				i {
					width: $button-icon-height-control - $padding-small-horizontal;
				}
			}
			&.btn-lg {
				span, 
				i {
					height: $button-icon-height-control + $padding-large-horizontal;
				}
				span {
					padding: 0 $padding-large-horizontal;
				}
				i {
					width: $button-icon-height-control + $padding-large-horizontal;
				}
			}
		}
	}
}