# EBM
# http://soygus.com
# @author MadeByGus

## Gulp dest
./src

## EBM
style.min.css
style.unprefixed.css
style.prefixed.css

## Node.js
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
node_modules

## Bower
src/components
lib

## Images
app/assets/img/*.jpg
app/assets/img/*.png
app/assets/img/*.JPEG
app/assets/img/*.gif
app/assets/img/*.tiff
# src/img/*.jpg
# src/img/*.png
# src/img/*.gif
# src/img/*.JPEG
# src/img/*.tiff

## Icons
app/assets/icons/*.svg
app/assets/icons/*.eot
app/assets/icons/*.ttf
app/assets/icons/*.woff

## Sass
.sass-cache

## OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# READMES
HISTORY.md
OLDREADME.md

## WORDPRESS
wp-config.php
wp-content/uploads/**
## EBM
wp-content/themes/THEMENAME/style.min.css
wp-content/themes/THEMENAME/style.unprefixed.css
wp-content/themes/THEMENAME/style.prefixed.css

## Node.js
wp-content/themes/THEMENAME/lib-cov
wp-content/themes/THEMENAME/*.seed
wp-content/themes/THEMENAME/*.log
wp-content/themes/THEMENAME/*.csv
wp-content/themes/THEMENAME/*.dat
wp-content/themes/THEMENAME/*.out
wp-content/themes/THEMENAME/*.pid
wp-content/themes/THEMENAME/*.gz
wp-content/themes/THEMENAME/pids
wp-content/themes/THEMENAME/logs
wp-content/themes/THEMENAME/results
wp-content/themes/THEMENAME/npm-debug.log
wp-content/themes/THEMENAME/node_modules

## Bower
wp-content/themes/THEMENAME/src/components
wp-content/themes/THEMENAME/lib

## Images
wp-content/themes/THEMENAME/app/assets/img/*.jpg
wp-content/themes/THEMENAME/app/assets/img/*.png
wp-content/themes/THEMENAME/app/assets/img/*.JPEG
wp-content/themes/THEMENAME/app/assets/img/*.gif
wp-content/themes/THEMENAME/app/assets/img/*.tiff
# wp-content/themes/THEMENAME/src/img/*.jpg
# wp-content/themes/THEMENAME/src/img/*.png
# wp-content/themes/THEMENAME/src/img/*.gif
# wp-content/themes/THEMENAME/src/img/*.JPEG
# wp-content/themes/THEMENAME/src/img/*.tiff

## Icons
wp-content/themes/THEMENAME/app/assets/icons/*.svg
wp-content/themes/THEMENAME/app/assets/icons/*.eot
wp-content/themes/THEMENAME/app/assets/icons/*.ttf
wp-content/themes/THEMENAME/app/assets/icons/*.woff

## OLDREADME
wp-content/themes/THEMENAME/HISTORY.md
wp-content/themes/THEMENAME/OLDREADME.md

## Build
#build wp-content/themes/twentysixteen
#build wp-content/themes/THEMENAME/src/
#build wp-content/themes/THEMENAME/Gruntfile.js
#build wp-content/themes/THEMENAME/bower.json
#build wp-content/themes/THEMENAME/.bowerrc
#build wp-content/themes/THEMENAME/package.json

# Laravel
/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
config/database.php
