@mixin header-padding($padding: $header-height-control) {
  padding: px-to-rem($padding) 0;
}

.header-padding {
  @include header-padding;
}

.header {
  @include position-fixed-top(1000);
  @include normalize-text;
  background-color: transparent;
  .header-left, .header-center, .header-right {
    @include flex-column-center;
    height: $header-height-control;
  }
  .header-left, .header-right {}
  .header-left {}
  .header-center {
    text-align: center;
  }
  .header-right {
    text-align: right;
  }
  .logo {
    img {
      width: $logo-width-control;
      height: auto;
    }
  }
}

@media #{$sm-down} {
  body {
    .header {
      position: relative;
      background-color: white;
      .logo {
        img {
          width: $logo-width-control-mobile;
        }
      }
    }
  }
}
