/*
	Hero unit
*/
.hero-unit {
	@include bg-img-block;
	min-height: $hero-unit-height-control;
	background-color: $body-bg;
	position: relative;
	overflow: hidden;
	&.video-bg {
		overflow: hidden;
		min-height: $hero-unit-height-control;
	}
	.overlay,
	.hero-unit-pic {
		@include position(absolute, 0 0 0 0);
		min-height: $hero-unit-height-control;
	}
	.hero-unit-pic {
		@include bg-img-block-center;
		img {
			width: 100%;
			height: auto;
		}
	}
}

@media #{$sm-down} {
  body {
    .hero-unit {
      background-image: url('/img/home/bg_home-hero-unit.jpg');
      min-height: $hero-unit-height-control-mobile;
      background-position: 81% top;
    }
  }
}
