/* 

	EBM:REF
	Mobile Menu

*/
$mobile-navbar-height: 56px; // Mobile header
$mobile-navbar-bg-color: $gray-dark;
$mobile-menu-bg-color: $gray-dark;
$mobile-nav-display-triggers-bg-color: $gray;
$mobile-nav-display-bg-color: $gray-dark;
$mobile-nav-text-color: white;
$menu-trigger-bg-color: transparent;
.mobile-navbar {
	@include position(fixed, 0 0 null 0);
	@include flex-row-space-between;
	border-bottom: 1px solid $gray;
	height: $mobile-navbar-height;
	padding: 0 $container-fluid;
	background-color: $mobile-navbar-bg-color;
	z-index: 1000;
	width: 100%;
	.left,
	.right {
		@include flex-column-center;
		height: $mobile-navbar-height;
	}
	.left {}
	.right {}
	.logo {
		@include bg-img-block;
		display: block;
		img {
			width: $mobile-navbar-height - 7;
			height: auto;
		}
	}
	.menu-trigger {
		background-color: $menu-trigger-bg-color;
		height: $mobile-navbar-height - 14;
		width: $mobile-navbar-height - 14;
		font-size: $font-size-h1;
		text-align: center;
		color: white;
	}
}

.mobile-menu {
	@include transition(transform 0.2s ease-in-out);
	@include transform(translateX(100%));
	@include position(fixed, 0 0 0 null);
	padding-top: $mobile-navbar-height;
	background-color: $mobile-menu-bg-color;
	min-height: 100%;
	z-index: 900;
	height: 100%;
	width: 100%;	
	.mobile-nav-display-triggers {
		> ul {
			@include list-unstyled;
			> li {
				a {
					text-transform: uppercase;
					padding: $container-fluid;
					color: $mobile-nav-text-color;
					font-size: 21px;
					display: block;
				}
				&:nth-child(odd) {
					background-color: $mobile-nav-display-triggers-bg-color;
				}
				&:nth-child(even) {
					background-color: lighten($mobile-nav-display-triggers-bg-color, 7%);
				}
			}
		}
	}
	.mobile-nav-display {
		@include transition(transform 0.2s ease-in-out);
		@include transform(translateX(100%));
		@include position(fixed, 0 0 0 null);
		padding-top: $mobile-navbar-height;
		background-color: $mobile-nav-display-bg-color;
		overflow-y: scroll;
		min-height: 100%;
		z-index: 901;
		height: 100%;
		width: 100%;
		.top {
			padding: $container-fluid;
		}
		.center {
			> ul {
				@include list-unstyled;
				li {
					a {
						padding: ($container-fluid - 2) $container-fluid;
						font-size: $font-size-base;
						text-transform: uppercase;
						color: $mobile-nav-text-color;
						display: block;
						span {}
					}
					&:nth-child(odd) {
						background-color: $mobile-nav-display-triggers-bg-color;
					}
					&:nth-child(even) {
						background-color: lighten($mobile-nav-display-triggers-bg-color, 7%);
					}
				}
			}
		}
		.bottom {}
		.back {
			display: block;
			&:hover {
				cursor: pointer;
			}
		}
	}
}

.site-wrapper {
	&.menu-on {
		.mobile-menu {
			@include transition(transform 0.2s ease-in-out);
			@include transform(translateX(0px));
		}
	}
	@for $i from 1 through 10 {
		&.display.mobile-nav-display-#{$i} {
			#mobile-nav-display-#{$i} {
				@include transition(transform 0.2s ease-in-out);
				@include transform(translateX(0px));
			}
		}
	}
}