/*

	EBM:REF
	Style guide

*/

#{$headings-list},
#{$headings-class-list} {
	@include light;
}

#{$text-elements-list} {
	@include light;
}

.section-title {
	@include bold;
	text-transform: uppercase;
	color: $blue-dark;
	padding-top: 21px;
	// Text Shadow
	text-shadow: 
		rgba(white,0.25) // Color
		0 // Eje x
		1px // Eje Y
		0; // Blur
}

.section-subtitle {
	text-transform: uppercase;
	padding-left: $container-fluid;
	position: relative;
	margin-top: 28px;
	&:before {
		content: "";
		margin-right: $container-fluid / 2;
		width: 3px;
		height: 14px;
		background-color: $gray;
		display: inline-block;
		position: absolute;
		left: 0;
	}
}

$separator-width-control: 210px;
$separator-height-control: 1px;
.separator {
	width: $separator-width-control;
	height: $separator-height-control;
	margin-bottom: $container-fluid;
	&.separator-xs {
		width: $separator-width-control - 70px;
	}
	&.separator-sm {
		width: $separator-width-control - 35px;
	}
	&.separator-lg {
		width: $separator-width-control + 70px;
	}
	&.separator-centered {
		margin: 0 auto;
	}
	&.separator-right {
		float: right;
	}
}

.control-group {
	border-bottom: 2px solid $gray-lighter;
	padding-bottom: 42px;
	margin-bottom: 42px;
}

.colors-banner {
	@include list-unstyled;
	@include flex-space-between;
	width: 100%;
	li {
		height: 3px;
		@for $i from 1 through 12 {
			$randWidth: random();
			&:nth-child(n+#{$i}) {
				width: percentage($randWidth);
			}
		}
		@for $i from 1 through length($brand-colors-sufix-list) {
			$rand: random();
			&:nth-child(n+#{$i}) {
				background-color: #{nth($brand-colors-list, $i)};
			}
		}
	}
}

.colors-list {
	.grid-list-item {
		> div {
			background-color: white;
			border-radius: $border-radius-base;
			padding: 3px;
			@include box-shadow-default;
			min-height: 91px;
		}
	}
	.color-block {
		height: 70px;
	}
	.color-name {
		span {
			font-size: 9px;
		}
	}
}