/* 
	EBM:Ref
	AUTOMATIC ANCHOR SCROLLING 
*/
$scroll-down-anchor: 70px;
.section-scroll-anchor-block {
	position: relative;
	.scroll-down-anchor {
		@include position(absolute, null 0 0 0);
		@include flex-middle-center;
		width: 100%;
		height: $scroll-down-anchor;
	}
}