/* 
  =================
  TEXT COLOR
  =================
*/

// Contextual emphasis
@for $i from 1 through length($brand-colors-list) {
  .text-#{nth($brand-colors-sufix-list, $i)} {
    @for $j from 1 through length($headings-list) {
      #{nth($headings-list, $j)},
      #{nth($headings-class-list, $j)} {
        color: #{nth($brand-colors-list, $i)} !important;
      }
    }
    @for $j from 1 through length($text-responsive-elements-list) {
      #{nth($text-responsive-elements-list, $j)} {
        color: #{nth($brand-colors-list, $i)} !important;
      }
    }
    a:not(.btn) {
      color: #{nth($brand-colors-list, $i)} !important;
      &:hover {
        color: #{darken(nth($brand-colors-list, $i), 21%)} !important;
      }
    }
    color: #{nth($brand-colors-list, $i)} !important;
  }
  a.text-#{nth($brand-colors-sufix-list, $i)}:not(.btn) { 
    &:hover {
      color: #{darken(nth($brand-colors-list, $i), 21%)} !important;
    }
  }
}

@for $i from 1 through length($grayscale-list) {
  .text-#{nth($grayscale-sufix-list, $i)} {
    @for $j from 1 through length($headings-list) {
      #{nth($headings-list, $j)},
      #{nth($headings-class-list, $j)} {
        color: #{nth($grayscale-list, $i)} !important;
      }
    }
    @for $j from 1 through length($text-responsive-elements-list) {
      #{nth($text-responsive-elements-list, $j)} {
        color: #{nth($grayscale-list, $i)} !important;
      }
    }
    a:not(.btn) {
      color: #{nth($grayscale-list, $i)} !important;
      &:hover {
        color: #{darken(nth($grayscale-list, $i), 21%)} !important;
      }
    }
    color: #{nth($grayscale-list, $i)} !important;
  }
  a.text-#{nth($grayscale-sufix-list, $i)}:not(.btn) {
    &:hover {
      color: #{darken(nth($grayscale-list, $i), 21%)} !important;
    }
  }
}

@for $i from 1 through length($bluescale-list) {
  .text-#{nth($bluescale-sufix-list, $i)} {
    @for $j from 1 through length($headings-list) {
      #{nth($headings-list, $j)},
      #{nth($headings-class-list, $j)} {
        color: #{nth($bluescale-list, $i)} !important;
      }
    }
    @for $j from 1 through length($text-responsive-elements-list) {
      #{nth($text-responsive-elements-list, $j)} {
        color: #{nth($bluescale-list, $i)} !important;
      }
    }
    a:not(.btn) {
      color: #{nth($bluescale-list, $i)} !important;
      &:hover {
        color: #{darken(nth($bluescale-list, $i), 21%)} !important;
      }
    }
    color: #{nth($bluescale-list, $i)} !important;
  }
  a.text-#{nth($bluescale-sufix-list, $i)}:not(.btn) {
    &:hover {
      color: #{darken(nth($bluescale-list, $i), 21%)} !important;
    }
  }
}

@for $i from 1 through length($social-colors-list) {
  .text-#{nth($social-colors-sufix-list, $i)} {
    @for $j from 1 through length($headings-list) {
      #{nth($headings-list, $j)},
      #{nth($headings-class-list, $j)} {
        color: #{nth($social-colors-list, $i)} !important;
      }
    }
    @for $j from 1 through length($text-responsive-elements-list) {
      #{nth($text-responsive-elements-list, $j)} {
        color: #{nth($social-colors-list, $i)} !important;
      }
    }
    a:not(.btn) {
      color: #{nth($social-colors-list, $i)} !important;
      &:hover {
        color: #{darken(nth($social-colors-list, $i), 21%)} !important;
      }
    }
    color: #{nth($social-colors-list, $i)} !important;
  }
  a.text-#{nth($social-colors-sufix-list, $i)}:not(.btn) {
    &:hover {
      color: #{darken(nth($social-colors-list, $i), 21%)} !important;
    }
  }
}