// LEAD TEXT ELEMENTS
#{$text-responsive-elements-list} {
  &.lead {
    font-size: $font-size-base + $text-in-rems-md-up ;
    line-height: $line-height-md-up;
  }
  @media #{$xs-only} {
    &.lead {
      font-size: $font-size-base + $text-in-rems-xs-only ;
      line-height: $line-height-xs-only;
    }
  }
  @media #{$sm-only} {
    &.lead {
      font-size: $font-size-base + $text-in-rems-sm-only ;
      line-height: $line-height-sm-only;
    }
  }
}

// LEAD HEADINGS
@for $i from 1 through length($headings-list) {
  #{nth($headings-list, $i)} {
    &.lead {
      font-size: #{nth($font-size-list, $i) + $text-in-rems-md-up} ;
      line-height: $line-height-md-up;
    }
    @media #{$xs-only} {
      &.lead {
        font-size: #{nth($font-size-list, $i) + $text-in-rems-xs-only} ;
        line-height: $line-height-xs-only;
      }
    }
    @media #{$sm-only} {
      &.lead {
        font-size: #{nth($font-size-list, $i) + $text-in-rems-sm-only} ;
        line-height: $line-height-sm-only;
      }
    }
  }
}
@for $i from 1 through length($headings-class-list) {
  #{nth($headings-class-list, $i)} {
    &.lead {
      font-size: #{nth($font-size-list, $i) + $text-in-rems-md-up} ;
      line-height: $line-height-md-up;
    }
    @media #{$xs-only} {
      &.lead {
        font-size: #{nth($font-size-list, $i) + $text-in-rems-xs-only} ;
        line-height: $line-height-xs-only;
      }
    }
    @media #{$sm-only} {
      &.lead {
        font-size: #{nth($font-size-list, $i) + $text-in-rems-sm-only} ;
        line-height: $line-height-sm-only;
      }
    }
  }
}


// RESPONSIVE HEADINGS CLASSES
@for $i from 1 through length($headings-class-list) {
  @for $k from 1 through length($breakpoints-sufix-list) {
    @media #{nth($media-control-list, $k)} {
      #{nth($headings-class-list, $i)}-#{nth($breakpoints-sufix-list, $k)} {
        font-size: #{nth($font-size-list, $i)} ;
        font-size: #{px-to-rem(nth($font-size-list, $i))} ;
      }
    }
  }
}
