// Text transforms and decorations
.text-none {
  text-transform: none;
}

.text-underline {
  text-decoration: underline;
}

a.text-not-underline {
	text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}