// Alignment
.text-left {
  text-align: left #{$importantize};
}
.text-right {
  text-align: right #{$importantize};
}
// Center on Mobile or Tablet

// Media only
@for $i from 1 through length($breakpoints-only-sufix-list) {
  .text-left-#{nth($breakpoints-only-sufix-list, $i)} {
    @media #{nth($media-only-list, $i)} {
      text-align: left #{$importantize};
    }
  }
}
@for $i from 1 through length($breakpoints-only-sufix-list) {
  .text-right-#{nth($breakpoints-only-sufix-list, $i)} {
    @media #{nth($media-only-list, $i)} {
      text-align: right #{$importantize};
    }
  }
}
@for $i from 1 through length($breakpoints-only-sufix-list) {
  .text-center-#{nth($breakpoints-only-sufix-list, $i)} {
    @media #{nth($media-only-list, $i)} {
      text-align: center #{$importantize};
    }
  }
}

// Media up
@for $i from 1 through length($breakpoints-up-sufix-list) {
  .text-left-#{nth($breakpoints-up-sufix-list, $i)} {
    @media #{nth($media-up-list, $i)} {
      text-align: left #{$importantize};
    }
  }
}
@for $i from 1 through length($breakpoints-up-sufix-list) {
  .text-right-#{nth($breakpoints-up-sufix-list, $i)} {
    @media #{nth($media-up-list, $i)} {
      text-align: right #{$importantize};
    }
  }
}
@for $i from 1 through length($breakpoints-up-sufix-list) {
  .text-center-#{nth($breakpoints-up-sufix-list, $i)} {
    @media #{nth($media-up-list, $i)} {
      text-align: center #{$importantize};
    }
  }
}

// Media down
@for $i from 1 through length($breakpoints-down-sufix-list) {
  .text-left-#{nth($breakpoints-down-sufix-list, $i)} {
    @media #{nth($media-down-list, $i)} {
      text-align: left #{$importantize};
    }
  }
}
@for $i from 1 through length($breakpoints-down-sufix-list) {
  .text-right-#{nth($breakpoints-down-sufix-list, $i)} {
    @media #{nth($media-down-list, $i)} {
      text-align: right #{$importantize};
    }
  }
}
@for $i from 1 through length($breakpoints-down-sufix-list) {
  .text-center-#{nth($breakpoints-down-sufix-list, $i)} {
    @media #{nth($media-down-list, $i)} {
      text-align: center #{$importantize};
    }
  }
}