/*
	Get random color by class
*/

.random-color {
  border-top-color: getRandomColor();
  border-right-color: getRandomColor("hex");
  border-bottom-color: getRandomColor("rgb");
  border-left-color: getRandomColor("%rgb");
  outline-top-color: getRandomColor("hsl");
  outline-right-color: getRandomColor("rgba");
  outline-bottom-color: getRandomColor("%rgba");
  outline-left-color: getRandomColor("hsla");
}