/* 
  =================
  TEXT HOVER COLOR
  =================
*/

// Contextual emphasis hover
@for $i from 1 through length($brand-colors-list) {
  .text-hover-#{nth($brand-colors-sufix-list, $i)} {
    a:not(.btn) {
      &:hover {
        color: #{darken(nth($brand-colors-list, $i), 12%)};
      }    
    }
    &:hover {
      color: #{darken(nth($brand-colors-list, $i), 12%)};
    }
  }
  a.text-hover-#{nth($brand-colors-sufix-list, $i)}:not(.btn) {
    &:hover {
      color: #{darken(nth($brand-colors-list, $i), 12%)};
    }
  }
}

@for $i from 1 through length($grayscale-list) {
  .text-hover-#{nth($grayscale-sufix-list, $i)} {
    a:not(.btn) {
      &:hover {
        color: #{darken(nth($grayscale-list, $i), 12%)};
      }
    }
    &:hover {
      color: #{darken(nth($grayscale-list, $i), 12%)};
    }
  }
  a.text-hover-#{nth($grayscale-sufix-list, $i)}:not(.btn) {
    &:hover {
      color: #{darken(nth($grayscale-list, $i), 12%)};
    }
  }
}

@for $i from 1 through length($bluescale-list) {
  .text-hover-#{nth($bluescale-sufix-list, $i)} {
    a:not(.btn) {
      &:hover {
        color: #{darken(nth($bluescale-list, $i), 12%)};
      }
    }
    &:hover {
      color: #{darken(nth($bluescale-list, $i), 12%)};
    }
  }
  a.text-hover-#{nth($bluescale-sufix-list, $i)}:not(.btn) {
    &:hover {
      color: #{darken(nth($bluescale-list, $i), 12%)};
    }
  }
}

@for $i from 1 through length($social-colors-list) {
  .text-hover-#{nth($social-colors-sufix-list, $i)} {
    a:not(.btn) {
      &:hover {
        color: #{darken(nth($social-colors-list, $i), 12%)};
      }
    }
    &:hover {
      color: #{darken(nth($social-colors-list, $i), 12%)};
    }
  }
  a.text-hover-#{nth($social-colors-sufix-list, $i)}:not(.btn) {
    &:hover {
      color: #{darken(nth($social-colors-list, $i), 12%)};
    }
  }
}