// CHILDREN TEXT ELEMENTS COLOR CONTROL
@for $i from 1 through length($text-elements-list) {
  @for $z from 1 through length($brand-colors-list) {
    .#{nth($text-elements-list, $i)}-ch-#{nth($brand-colors-sufix-list, $z)} {
      #{nth($text-elements-list, $i)} {
        color: #{nth($brand-colors-list, $z)};
      }
    }
  }
}

@for $i from 1 through length($text-elements-list) {
  @for $z from 1 through length($grayscale-list) {
    .#{nth($text-elements-list, $i)}-ch-#{nth($grayscale-sufix-list, $z)} {
      #{nth($text-elements-list, $i)} {
        color: #{nth($grayscale-list, $z)};
      }
    }
  }
}

@for $i from 1 through length($text-elements-list) {
  @for $z from 1 through length($bluescale-list) {
    .#{nth($text-elements-list, $i)}-ch-#{nth($bluescale-sufix-list, $z)} {
      #{nth($text-elements-list, $i)} {
        color: #{nth($bluescale-list, $z)};
      }
    }
  }
}