// Box model sizes percentage control
@for $i from 0 through $loop-limit {
  @for $j from 1 through length($box-model-sides) {
    .#{nth($box-model-abbr, $j)}p-#{$i*$ebm-times} {
      #{nth($box-model-sides, $j)}: percentage(($i*($ebm-times/100))) #{$importantize};
    }
  }
}

// PADDING VERTICAL & HORIZONTAL
@for $i from 0 through $loop-limit {
  .pvp-#{$i*$ebm-times} {
    padding-top: percentage(($i*($ebm-times/100))) #{$importantize};
    padding-bottom: percentage(($i*($ebm-times/100))) #{$importantize};
  }
}

@for $i from 0 through $loop-limit {
  .php-#{$i*$ebm-times} {
    padding-left: percentage(($i*($ebm-times/100))) #{$importantize};
    padding-right: percentage(($i*($ebm-times/100))) #{$importantize};
  }
}

// MARGIN VERTICAL & HORIZONTAL
@for $i from 0 through $loop-limit {
  .mvp-#{$i*$ebm-times} {
    margin-top: percentage(($i*($ebm-times/100))) #{$importantize};
    margin-bottom: percentage(($i*($ebm-times/100))) #{$importantize};
  }
}

@for $i from 0 through $loop-limit {
  .mhp-#{$i*$ebm-times} {
    margin-left: percentage(($i*($ebm-times/100))) #{$importantize};
    margin-right: percentage(($i*($ebm-times/100))) #{$importantize};
  }
}

// CHildren elements
@for $i from 0 through $loop-limit {
  @for $j from 1 through length($box-model-sides) {
    .#{nth($box-model-ch-abbr-percentage, $j)}-#{$i*$ebm-times} {
      #{$children-elements} {
        #{nth($box-model-sides, $j)}: percentage(($i*($ebm-times/100))) #{$importantize};
      }
    }
  }
}