/*
  EBM:Ref
  Min-heights
*/

// Min-Heights
@for $i from 1 through 10 {
  .minh-#{($i*$ebm-times)*10} {
    min-height: (($i*$ebm-times)*10) + px ;
    @if $px-to-rems == true {
      min-height: px-to-rem(($i*$ebm-times)*10);
    }
  }
  @for $k from 1 through length($breakpoints-sufix-list) {
    @media #{nth($media-control-list, $k)} {
      .minh-#{($i*$ebm-times)*10}-#{nth($breakpoints-sufix-list, $k)} {
        min-height: (($i*$ebm-times)*10) + px !important;
        @if $px-to-rems == true {
          min-height: px-to-rem(($i*$ebm-times)*10) !important;
        }
      }
// Children elements min-heights
      .minh-ch-#{($i*$ebm-times)*10}-#{nth($breakpoints-sufix-list, $k)} {
        @include children-elements {
          min-height: (($i*$ebm-times)*10) + px !important;
          min-height: px-to-rem(($i*$ebm-times)*10) !important;
        }
      }
    }
  }
  .minh-ch-#{($i*$ebm-times)*10} {
    @include children-elements {
      min-height: (($i*$ebm-times)*10) + px ;
      min-height: px-to-rem(($i*$ebm-times)*10);
    }
  }
}

// Min-Heights Percentage
@for $i from 1 through 10 {
  .minh-#{$i*10}-vh {
    min-height: percentage($i*0.1) ;
    min-height: #{$i*10}vh ;
  }
  @for $k from 1 through length($breakpoints-sufix-list) {
    @media #{nth($media-control-list, $k)} {
      .minh-#{$i*10}-#{nth($breakpoints-sufix-list, $k)}-vh {
        // For <IE8
        min-height: percentage($i*0.1) !important;
        min-height: #{$i*10}vh !important;
        @include children-elements {
          min-height: percentage($i*0.1) !important;
          min-height: #{$i*10}vh !important;
        }
      }
      .minh-ch-#{$i*10}-#{nth($breakpoints-sufix-list, $k)}-vh {
        @include children-elements {
          min-height: percentage($i*0.1) !important;
          min-height: #{$i*10}vh !important;
        }
      }
    }
  }
  .minh-ch-#{$i*10}-vh {
    @include children-elements {
      min-height: percentage($i*0.1) ;
      min-height: #{$i*10}vh ;
    }
  }
}

.minh-hero-unit {
  min-height: $hero-unit-height-control;
}

.minh-ch-hero-unit {
  @include children-elements {
    min-height: $hero-unit-height-control;
  }
}

@media #{$sm-down} {
  body {
    .minh-hero-unit {
      min-height: $hero-unit-height-control-mobile;
    }
    .minh-ch-hero-unit {
      @include children-elements {
        min-height: $hero-unit-height-control-mobile;
      }
    }
  }
}
