/*
	EBM:Ref
	Flexbox
*/
// FLEXBOX Classes
.flex-row {
	@include flex-row;
}
.flex-row-ch {
	@include children-elements {
		@include flex-row;
	}
}
.flex-row-center {
	@include flex-row-center;
}
.flex-row-center-ch {
	@include children-elements {
		@include flex-row-center;
	}
}
.flex-row-end {
	@include flex-row-end;
}
.flex-row-end-ch {
	@include children-elements {
		@include flex-row-end;
	}
}
.flex-row-space-between {
	@include flex-row-space-between;
}
.flex-row-space-between-ch {
	@include children-elements {
		@include flex-row-space-between;
	}
}
.flex-row-space-around {
	@include flex-row-space-around;
}
.flex-row-space-around-ch {
	@include children-elements {
		@include flex-row-space-around;
	}
}
.flex-column {
	@include flex-column;
}
.flex-column-ch {
	@include children-elements {
		@include flex-column;
	}
}
.flex-column-center {
	@include flex-column-center;
}
.flex-column-center-ch {
	@include children-elements {
		@include flex-column-center;
	}
}
.flex-column-end {
	@include flex-column-end;
}
.flex-column-end-ch {
	@include children-elements {
		@include flex-column-end;
	}
}
.flex-column-space-between {
	@include flex-column-space-between;
}
.flex-column-space-between-ch {
	@include children-elements {
		@include flex-column-space-between;
	}
}
.flex-column-space-around {
	@include flex-column-space-around;
}
.flex-column-space-around-ch {
	@include children-elements {
		@include flex-column-space-around;
	}
}
.flex-align-center {
	@include flex-align-center;
}
.flex-align-center-ch {
	@include children-elements {
		@include flex-align-center;
	}
}
.flex-align-end {
	@include flex-align-end;
}
.flex-align-end-ch {
	@include children-elements {
		@include flex-align-end;
	}
}
.flex-align-stretch {
	@include flex-align-stretch;
}
.flex-align-stretch-ch {
	@include children-elements {
		@include flex-align-stretch;
	}
}

// FLEX Breakpoints
@for $i from 1 through length($media-control-list) {
	@media #{nth($media-control-list, $i)} {
		.flex-break-#{nth($breakpoints-sufix-list, $i)} {
			@include flex-column;
		}
		.flex-break-#{nth($breakpoints-sufix-list, $i)}-ch {
			@include children-elements {
				@include flex-column;
			}
		}
	}
}

// FLEX Children grow
@for $i from 0 through 7 {
	.flex-grow-#{$i} {
		flex-grow: #{$i};
		@include children-elements {
			flex-grow: #{$i};
		}
	}
}
