.lead-ch {
  #{$text-responsive-elements-list} {
    font-size: $font-size-base + $text-in-rems-md-up ;
    font-size: px-to-rem($font-size-base + $text-in-rems-md-up) ;
    line-height: $line-height-md-up;
    &.unlead {
      font-size: $font-size-base;
      font-size: px-to-rem($font-size-base);
    }
    @media #{$xs-only} {
      font-size: $font-size-base + $text-in-rems-xs-only ;
      font-size: px-to-rem($font-size-base + $text-in-rems-xs-only) ;
      line-height: $line-height-xs-only;
    }
    @media #{$sm-only} {
      font-size: $font-size-base + $text-in-rems-sm-only ;
      font-size: px-to-rem($font-size-base + $text-in-rems-sm-only) ;
      line-height: $line-height-sm-only;
    }
  }
}

// LEAD CHILDREN HEADINGS
.lead-ch {
  @for $i from 1 through length($headings-list) {
    #{nth($headings-list, $i)} {
      font-size: #{nth($font-size-list, $i) + $text-in-rems-md-up} ;
      font-size: #{px-to-rem(nth($font-size-list, $i) + $text-in-rems-md-up)} ;
      em, a, span {
        font-size: inherit ;
      }
      &.unlead {
        font-size: #{nth($font-size-list, $i)};
        font-size: #{px-to-rem(nth($font-size-list, $i))};
      }
      @media #{$xs-only} {
        font-size: #{nth($font-size-list, $i) + $text-in-rems-xs-only} ;
        font-size: #{px-to-rem(nth($font-size-list, $i) + $text-in-rems-xs-only)} ;
        line-height: $line-height-xs-only;
      }
      @media #{$sm-only} {
        font-size: #{nth($font-size-list, $i) + $text-in-rems-sm-only} ;
        font-size: #{px-to-rem(nth($font-size-list, $i) + $text-in-rems-sm-only)} ;
        line-height: $line-height-sm-only;
      }
    }
  }
}
.lead-ch {
  @for $i from 1 through length($headings-class-list) {
    #{nth($headings-class-list, $i)} {
      font-size: #{nth($font-size-list, $i) + $text-in-rems-md-up} ;
      font-size: #{px-to-rem(nth($font-size-list, $i) + $text-in-rems-md-up)} ;
      em, a, span {
        font-size: inherit ;
      }
      &.unlead {
        font-size: #{nth($font-size-list, $i)};
        font-size: #{px-to-rem(nth($font-size-list, $i))};
      }
      @media #{$xs-only} {
        font-size: #{nth($font-size-list, $i) + $text-in-rems-xs-only} ;
        font-size: #{px-to-rem(nth($font-size-list, $i) + $text-in-rems-xs-only)} ;
        line-height: $line-height-xs-only;
      }
      @media #{$sm-only} {
        font-size: #{nth($font-size-list, $i) + $text-in-rems-sm-only} ;
        font-size: #{px-to-rem(nth($font-size-list, $i) + $text-in-rems-sm-only)} ;
        line-height: $line-height-sm-only;
      }
    }
  }
}
