/* BOX MODEL CHILDREN ELEMENTS BREAKPOINT CONTROL */
// -x axis box model spacing
@for $i from 0 through $spacing-sizes {
  @for $j from 1 through length($box-model-x-sides) {
    @for $k from 1 through length($breakpoints-sufix-list) {
      @media #{nth($media-control-list, $k)} {
        .#{nth($box-model-ch-x-abbr, $j)}-#{$i}-#{nth($breakpoints-sufix-list, $k)} {
          #{$children-elements} {
            #{nth($box-model-x-sides, $j)}: ($i*$spacer-x);
          }
        }
      }
    }
  }
}

// -y axis box model spacing
@for $i from 0 through $spacing-sizes {
  @for $j from 1 through length($box-model-y-sides) {
    @for $k from 1 through length($breakpoints-sufix-list) {
      @media #{nth($media-control-list, $k)} {
        .#{nth($box-model-ch-y-abbr, $j)}-#{$i}-#{nth($breakpoints-sufix-list, $k)} {
          #{$children-elements} {
            #{nth($box-model-y-sides, $j)}: ($i*$spacer-y);
          }
        }
      }
    }
  }
}

// -xy axis box model spacing
@for $i from 0 through $spacing-sizes {
  @for $j from 1 through length($box-model-xy-sides) {
    @for $k from 1 through length($breakpoints-sufix-list) {
      @media #{nth($media-control-list, $k)} {
        .#{nth($box-model-ch-xy-abbr, $j)}-#{$i}-#{nth($breakpoints-sufix-list, $k)} {
          #{$children-elements} {
            #{nth($box-model-xy-sides, $j)}: ($i*$spacer);
          }
        }
      }
    }
  }
}

// PADDING VERTICAL & HORIZONTAL
@for $i from 0 through $spacing-sizes {
  @for $k from 1 through length($breakpoints-sufix-list) {
    @media #{nth($media-control-list, $k)} {
      .pv-ch-#{$i}-#{nth($breakpoints-sufix-list, $k)} {
        #{$children-elements} {
          padding-bottom: ($i*$spacer-y);
          padding-top: ($i*$spacer-y);
        }
      }
    }
  }
}

@for $i from 0 through $spacing-sizes {
  @for $k from 1 through length($breakpoints-sufix-list) {
    @media #{nth($media-control-list, $k)} {
      .ph-ch-#{$i}-#{nth($breakpoints-sufix-list, $k)} {
        #{$children-elements} {
          padding-right: ($i*$spacer-x);
          padding-left: ($i*$spacer-x);
        }
      }
    }
  }
}

// MARGIN VERTICAL & HORIZONTAL
@for $i from 0 through $spacing-sizes {
  @for $k from 1 through length($breakpoints-sufix-list) {
    @media #{nth($media-control-list, $k)} {
      .mv-ch-#{$i}-#{nth($breakpoints-sufix-list, $k)} {
        #{$children-elements} {
          margin-bottom: ($i*$spacer-y);
          margin-top: ($i*$spacer-y);
        }
      }
    }
  }
}

@for $i from 0 through $spacing-sizes {
  @for $k from 1 through length($breakpoints-sufix-list) {
    @media #{nth($media-control-list, $k)} {
      .mh-ch-#{$i}-#{nth($breakpoints-sufix-list, $k)} {
        #{$children-elements} {
          margin-right: ($i*$spacer-x);
          margin-left: ($i*$spacer-x);
        }
      }
    }
  }
}